html {
	color: #FFF;
}
body {
	padding-top: 20px;
	padding-bottom: 40px;
	background: #444;
	color: #FFF;
	height: 100%;
}
img#bg {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.masthead img {
	margin-bottom: 20px;
}
.nav {
	margin-top: 75px;
}
h3 small {
	font-size: 0.8em;
}
a {
	color: #fff;
	text-decoration: underline;
}
a:hover, a:focus, a:active {
	color: #fff;
	text-decoration: underline !important;
}
h3 a, h4 a {
	text-decoration: none !important;
}
h3 small a {
	text-decoration: underline !important;
}
h3 a:hover, h3 a:focus, h3 a:active, h4 a:hover, h4 a:focus, h4 a:active {
	text-decoration: none !important;
}
h3 small a:hover, h3 small a:focus, h3 small a:active {
	text-decoration: underline !important;
}
hr {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
hr.small {
	border-top-color: #fff;
	border-bottom-color: transparent;
	margin: 30px 0 !important;
}
.nav > li > a:hover, 
.nav > li > a:focus {
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}
.nav-pills > .active > a, 
.nav-pills > .active > a:hover, 
.nav-pills > .active > a:focus {
	background-color: #fff;
	color: #000;
}

.btn-download {
  color: #000;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.5);
  background: #fff;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-download:hover,
.btn-download:active {
	background: #ddd;
	color: #000;
}


/* Custom container */
.container-top {
	margin: 0 auto;
	max-width: 700px;
	padding: 0 30px;
	background: url('../img/site_content_top.png') no-repeat;
	height: 24px;
}
.container-bottom {
	margin: 0 auto;
	max-width: 700px;
	padding: 0 30px;
	background: url('../img/site_content_bottom.png') no-repeat;
	height: 43px;
}
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
	padding: 0 30px;
	/*background: rgba(0,0,0,0.8);*/
	background: url('../img/site_content_bg.png') repeat-y;
}
.container-narrow > hr {
	margin: 0;
	clear: both;
}

.btn small {
	font-size: 60%;
	font-weight: normal;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 0;
	padding: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 60px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing-top {
	margin-top: 60px;
}
.marketing-bottom {
	margin-bottom: 60px;
}
.marketing p + h4 {
	margin-top: 28px;
}

.github-ribbon {
	position: fixed !important;
}